.card {
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  padding: 10px 10px 2px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  transition: all 0.2s linear;
}

.card:hover {
  border: 2px solid #6c5ce7;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #dfe6e9;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #b2bec3;
}

.fork {
  font-size: 16px;
  font-weight: 400;
  color: #6c5ce7;
}

.tag {
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
}

.language {
  font-size: 16px;
  font-weight: 400;
  color: #dfe6e9;
}

.detail {
  display: flex;
  align-items: center;
  gap: 5;
  cursor: pointer;

  span {
    font-size: 10px;
    font-weight: 400;
    color: #b2bec3;
    color: #0984e3;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: #0984e3;
  }
}

.text-detail {
  color: #fff;
}
