.button-language {
  background: #dfe6e9;
  color: #636e72;
}

.typescript {
  background: #0984e3;
  color: #fff;
}

.javascript {
  background: #fdcb6e;
  color: #fff;
}

.r {
  background: #d63031;
  color: #fff;
}

.css {
  background: #81ecec;
  color: #fff;
}

.python {
  background: #6c5ce7;
  color: #fff;
}

.notebook {
  background: #2d3436;
  color: #fff;
}
